name: Build and Push Docker Image
run-name: Docker Image for ${{ github.repository }}

on:
  workflow_call:
    inputs:
      tag_version:
        description: 'Docker Image Tag (without "v")'
        required: true
        type: string
        default: ""
      dockerfile_path:
        description: "Path to Dockerfile"
        required: true
        type: string
        default: "docker/Dockerfile"
      image_name:
        description: "Docker Image Name (optional)"
        required: false
        type: string
        default: ""
      sdk_version:
        description: "Supervisely SDK version (optional) - only needed if SDK is installed from branch"
        required: false
        type: string
        default: ""
      latest_tag:
        description: 'Also tag image as "latest"'
        required: false
        type: boolean
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build-and-push:
    runs-on: gha-runner-supervisely-ecosystem
    steps:
      - name: Info
        run: |
          set -euo pipefail

          IMAGE_NAME=${{ inputs.image_name }}
          if [ -z "$IMAGE_NAME" ]; then
            IMAGE_NAME=${GITHUB_REPOSITORY#*/}
          fi
          if [[ "$IMAGE_NAME" != supervisely/* ]]; then
            IMAGE_NAME="supervisely/$IMAGE_NAME"
          fi

          # Docker Image name
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

          # Cache key (supervisely/foo -> supervisely_foo)
          CACHE_KEY="${IMAGE_NAME//\//_}"
          echo "CACHE_KEY=$CACHE_KEY" >> $GITHUB_ENV

          # Local cache dir
          CACHE_DIR="$HOME/.cache/buildkit/${CACHE_KEY}"
          echo "CACHE_DIR=$CACHE_DIR" >> $GITHUB_ENV

          echo "Image name: $IMAGE_NAME"
          echo "Cache dir: $CACHE_DIR"
          echo "Tag version: ${{ inputs.tag_version }}"
          echo "Dockerfile path: ${{ inputs.dockerfile_path }}"

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/checkout@v6
        with:
          repository: supervisely-ecosystem/workflows
          path: workflow

      - name: Delete .git folder
        run: |
          rm -rf .git

      - name: DockerHub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set tags
        id: tags
        run: |
          TAGS="${{ env.IMAGE_NAME }}:${{ inputs.tag_version }}"
          if [[ "${{ inputs.latest_tag }}" == "true" ]]; then
            TAGS="${TAGS},${{ env.IMAGE_NAME }}:latest"
          fi
          echo "tags=${TAGS}" >> $GITHUB_OUTPUT

      - name: Get SDK version
        run: |
          set -euo pipefail
          if [ -n "${{ inputs.sdk_version }}" ]; then
            sed -i.bak -E '/LABEL (python_sdk_version|python-sdk-version|supervisely-sdk-version|supervisely_sdk_version)=/d' "${{ inputs.dockerfile_path }}"
            echo "LABEL supervisely-sdk-version=${{ inputs.sdk_version }}" >> "${{ inputs.dockerfile_path }}"
            echo "Supervisely SDK version: ${{ inputs.sdk_version }}"
          else
            SDK_VERSION=$(grep -E '^LABEL +(python_sdk_version|python-sdk-version|supervisely-sdk-version|supervisely_sdk_version)=' "${{ inputs.dockerfile_path }}" | awk -F= '{print $2}' | tr -d '\"')
            if [ -z "$SDK_VERSION" ]; then
              echo "[ERROR] Python SDK version LABEL not found in Dockerfile! You should specify the SDK version as LABEL in Dockerfile or input parameter." >&2
              exit 1
            fi
            echo "Supervisely SDK version: $SDK_VERSION"
          fi

      - name: Prepare local BuildKit cache dir
        run: |
          set -euo pipefail
          mkdir -p "${{ env.CACHE_DIR }}"

      - name: Build Docker Image ${{ env.IMAGE_NAME }}:${{ inputs.tag_version }}
        run: |
          set -euo pipefail
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=$(dirname ${{ inputs.dockerfile_path }}) \
            --opt filename=$(basename ${{ inputs.dockerfile_path }}) \
            --import-cache type=local,src=${{ env.CACHE_DIR }} \
            --export-cache type=local,dest=${{ env.CACHE_DIR }},mode=max \
            --output type=image,name=docker.io/${{ env.IMAGE_NAME }}:${{ inputs.tag_version }},push=true

      - name: Build Docker Image ${{ env.IMAGE_NAME }}:latest
        if: inputs.latest_tag
        run: |
          set -euo pipefail
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=$(dirname ${{ inputs.dockerfile_path }}) \
            --opt filename=$(basename ${{ inputs.dockerfile_path }}) \
            --import-cache type=local,src=${{ env.CACHE_DIR }} \
            --output type=image,name=docker.io/${{ env.IMAGE_NAME }}:latest,push=true
