name: Supervisely release
run-name: Supervisely ${{ github.repository }} app release
on:
  workflow_call:
    inputs:
      SUPERVISELY_SERVER_ADDRESS:
        required: true
        type: string
      SUPERVISELY_PROD_SERVER_ADDRESS:
        required: true
        type: string
      SLUG:
        required: true
        type: string
      RELEASE_VERSION:
        required: true
        type: string
      RELEASE_DESCRIPTION:
        required: true
        type: string
      SUBAPP_PATHS:
        required: true
        type: string
      RELEASE_TYPE:
        required: true
        type: string
      SKIP_INSTANCE_VERSION_VALIDATION:
        required: false
        type: boolean
        default: false
      SKIP_IMAGE_VALIDATION:
        required: false
        type: boolean
        default: false
      ARCHIVE_ONLY_CONFIG:
        required: false
        type: boolean
        default: false
      COMMIT_SHA:
        required: false
        type: string
        default: ''
      MODELS_PATH:
        required: false
        type: string
        default: ''
      FRAMEWORK:
        required: false
        type: string
        default: ''
      RELEASE_MODELS:
        required: false
        type: boolean
        default: false
    secrets:
      SUPERVISELY_DEV_API_TOKEN:
        required: true
      SUPERVISELY_PRIVATE_DEV_API_TOKEN:
        required: true
      SUPERVISELY_PROD_API_TOKEN:
        required: true
      GH_ACCESS_TOKEN:
        required: true
      

jobs:
  Supervisely-Release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.COMMIT_SHA }}
          fetch-depth: 0
      - uses: actions/checkout@v4
        with:
          repository: supervisely-ecosystem/workflows
          path: workflow
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          sudo apt-get install skopeo
          python -m pip install --upgrade pip
          pip install -r ./workflow/requirements.txt
          pip uninstall -y urllib3 requests-toolbelt
          pip install urllib3==1.26.15 requests-toolbelt==0.10.1
      - name: Supervisely Release
        run: |
          python ./workflow/release.py
        env:
          DEV_SERVER_ADDRESS: "${{ inputs.SUPERVISELY_SERVER_ADDRESS }}"
          PROD_SERVER_ADDRESS: "${{ inputs.SUPERVISELY_PROD_SERVER_ADDRESS }}"
          DEV_API_TOKEN: "${{ secrets.SUPERVISELY_DEV_API_TOKEN }}"
          PRIVATE_DEV_API_TOKEN: "${{ secrets.SUPERVISELY_PRIVATE_DEV_API_TOKEN }}"
          PROD_API_TOKEN: "${{ secrets.SUPERVISELY_PROD_API_TOKEN }}"
          GH_ACCESS_TOKEN: "${{ secrets.GH_ACCESS_TOKEN }}"
          SLUG: "${{ inputs.SLUG }}"
          RELEASE_VERSION: "${{ inputs.RELEASE_VERSION }}"
          RELEASE_DESCRIPTION: "${{ inputs.RELEASE_DESCRIPTION }}"
          RELEASE_TYPE: "${{ inputs.RELEASE_TYPE }}"
          SUBAPP_PATHS: "${{ inputs.SUBAPP_PATHS }}"
          SKIP_INSTANCE_VERSION_VALIDATION: "${{ inputs.SKIP_INSTANCE_VERSION_VALIDATION }}"
          SKIP_IMAGE_VALIDATION: "${{ inputs.SKIP_IMAGE_VALIDATION }}"
          ARCHIVE_ONLY_CONFIG: "${{ inputs.ARCHIVE_ONLY_CONFIG }}"

  Models-release:
    needs: Supervisely-Release
    if: inputs.RELEASE_MODELS && inputs.RELEASE_TYPE != 'release-branch'
    uses: supervisely-ecosystem/workflows/.github/workflows/sync_models_common.yml@master
    secrets:
      API_TOKEN: "${{ secrets.SUPERVISELY_PROD_API_TOKEN }}"
    with:
      SERVER_ADDRESS: "${{ vars.SUPERVISELY_PROD_SERVER_ADDRESS }}"
      MODELS_PATH: "${{ inputs.MODELS_PATH }}"
      FRAMEWORK: "${{ inputs.FRAMEWORK }}"



