name: Supervisely Release
run-name: Supervisely ${{ github.repository }} App Release
on:
  workflow_call:
    inputs:
      SLUG:
        required: true
        type: string
      RELEASE_VERSION:
        required: true
        type: string
      RELEASE_DESCRIPTION:
        required: true
        type: string
      SUBAPP_PATHS:
        required: true
        type: string
      RELEASE_TYPE:
        required: true
        type: string
      SKIP_INSTANCE_VERSION_VALIDATION:
        required: false
        type: boolean
        default: false
      SKIP_IMAGE_VALIDATION:
        required: false
        type: boolean
        default: false
      ARCHIVE_ONLY_CONFIG:
        required: false
        type: boolean
        default: false
      COMMIT_SHA:
        required: false
        type: string
        default: ""
      MODELS_PATH:
        required: false
        type: string
        default: ""
      FRAMEWORK:
        required: false
        type: string
        default: ""
      RELEASE_MODELS:
        required: false
        type: boolean
        default: false
      SUPERVISELY_SERVER_ADDRESS: # left here for backward compatibility, will be taken from config or env vars in release.py
        required: false
        type: string
      SUPERVISELY_PROD_SERVER_ADDRESS: # left here for backward compatibility, will be taken from config or env vars in release.py
        required: false
        type: string
    secrets: # all these secrets are left for backward compatibility, will be taken from config or env vars in release.py
      SUPERVISELY_DEV_API_TOKEN:
        required: false
      SUPERVISELY_PRIVATE_DEV_API_TOKEN:
        required: false
      SUPERVISELY_PROD_API_TOKEN:
        required: false
      GH_ACCESS_TOKEN:
        required: false

jobs:
  Supervisely-Release:
    runs-on: gha-runner-supervisely-ecosystem
    outputs:
      release_models: ${{ steps.release.outputs.release_models }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.COMMIT_SHA }}
          fetch-depth: 0

      - uses: actions/checkout@v6
        with:
          repository: supervisely-ecosystem/workflows
          ref: runner-updates
          path: workflow

      - name: Supervisely Release
        id: release
        run: |
          . $HOME/.release_venv/bin/activate
          python ./workflow/release.py
        env:
          SLUG: "${{ inputs.SLUG }}"
          RELEASE_VERSION: "${{ inputs.RELEASE_VERSION }}"
          RELEASE_DESCRIPTION: "${{ inputs.RELEASE_DESCRIPTION }}"
          RELEASE_TYPE: "${{ inputs.RELEASE_TYPE }}"
          SUBAPP_PATHS: "${{ inputs.SUBAPP_PATHS }}"
          SKIP_INSTANCE_VERSION_VALIDATION: "${{ inputs.SKIP_INSTANCE_VERSION_VALIDATION }}"
          SKIP_IMAGE_VALIDATION: "${{ inputs.SKIP_IMAGE_VALIDATION }}"
          ARCHIVE_ONLY_CONFIG: "${{ inputs.ARCHIVE_ONLY_CONFIG }}"

  Models-Release:
    needs: Supervisely-Release
    if: (inputs.RELEASE_MODELS || needs.Supervisely-Release.outputs.release_models == 'true') && inputs.RELEASE_TYPE != 'release-branch'
    uses: supervisely-ecosystem/workflows/.github/workflows/sync_models_common.yml@master
    with:
      MODELS_PATH: "${{ inputs.MODELS_PATH }}"
      FRAMEWORK: "${{ inputs.FRAMEWORK }}"
