name: Release App
run-name: Release version "${{ github.event.release.tag_name }}"
on:
  release:
    types: [published]

jobs:
  Supervisely-Release:
    if: |
      !github.event.release.prerelease &&
      (github.event.release.target_commitish == 'main' || 
       github.event.release.target_commitish == 'master')
    uses: supervisely-ecosystem/workflows/.github/workflows/common.yml@master
    with:
      SLUG: "${{ github.repository }}"
      RELEASE_VERSION: "${{ github.event.release.tag_name }}"
      RELEASE_DESCRIPTION: "${{ github.event.release.name }}"
      RELEASE_TYPE: "release"
      SUBAPP_PATHS: "__ROOT_APP__, subapp"
      MODELS_PATH: ""
      FRAMEWORK: ""
