name: Release
run-name: Release version "${{ github.event.release.tag_name }}"
on:
  release:
    types: [published]
    branches:
      - main
      - master
jobs:
  Supervisely-Release:
    if: "!github.event.release.prerelease"
    uses: supervisely-ecosystem/workflows/.github/workflows/common.yml@vars-envs
    with:
      SUPERVISELY_SERVER_ADDRESS: "${{ env.SUPERVISELY_DEV_SERVER_ADDRESS }}"
      SUPERVISELY_PROD_SERVER_ADDRESS: "${{ env.SUPERVISELY_PROD_SERVER_ADDRESS }}"
      SLUG: "${{ github.repository }}"
      RELEASE_VERSION: "${{ github.event.release.tag_name }}"
      RELEASE_DESCRIPTION: "${{ github.event.release.name }}"
      RELEASE_TYPE: "release"
      SUBAPP_PATHS: "__ROOT_APP__, subapp"
      MODELS_PATH: ""
      FRAMEWORK: ""
