name: Sync Models
on:
  workflow_call:
    inputs:
      MODELS_PATH:
        type: string
        required: false
      DET_MODELS_PATH:
        type: string
        required: false
      FRAMEWORK:
        type: string
        required: true

jobs:
  release-models:
    runs-on: gha-runner-supervisely-ecosystem
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          repository: supervisely-ecosystem/workflows
          path: workflow

      - name: Sync models
        run: |
          . release_venv/bin/activate
          python workflow/release_models.py
        env:
          MODELS_PATH: ${{ inputs.MODELS_PATH }}
          DET_MODELS_PATH: ${{ inputs.DET_MODELS_PATH }}
          FRAMEWORK: ${{ inputs.FRAMEWORK }}
