name: Sync Models
on:
  workflow_call:
    inputs:
      MODELS_PATH:
        type: string
        required: false
      DET_MODELS_PATH:
        type: string
        required: false
      FRAMEWORK:
        type: string
        required: true
      SERVER_ADDRESS:
        type: string
        required: true
    secrets:
      API_TOKEN:
        required: true

jobs:
  release-models:
    runs-on: gha-runner-supervisely-ecosystem
    steps:
      - name: Checkout current repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Checkout workflows repository
        uses: actions/checkout@v6
        with:
          repository: supervisely-ecosystem/workflows
          path: workflow

      - name: Get Models Path and Framework
        id: get_inputs
        run: |
          . release_venv/bin/activate
          python workflow/get_inputs.py
        env:
          MODELS_PATH: ${{ inputs.MODELS_PATH }}
          FRAMEWORK: ${{ inputs.FRAMEWORK }}

      - name: Sync models
        run: |
          . release_venv/bin/activate
          python workflow/release_models.py
        env:
          SERVER_ADDRESS: ${{ inputs.SERVER_ADDRESS }}
          API_TOKEN: ${{ secrets.API_TOKEN }}
          MODELS_PATH: ${{ steps.get_inputs.outputs.MODELS_PATH }}
          DET_MODELS_PATH: ${{ inputs.DET_MODELS_PATH }}
          FRAMEWORK: ${{ steps.get_inputs.outputs.FRAMEWORK }}
