name: Update Models
on:
  workflow_call:
    inputs:
      MODELS_PATH:
        type: string
        required: false
      DET_MODELS_PATH:
        type: string
        required: false
      SEG_MODELS_PATH:
        type: string
        required: false
      FRAMEWORK:
        type: string
        required: true

jobs:
  update-models:
    runs-on: gha-runner-supervisely-ecosystem
    steps:
      - name: Checkout current repository
        uses: actions/checkout@v6

      - name: Checkout workflows repository
        uses: actions/checkout@v6
        with:
          repository: supervisely-ecosystem/workflows
          ref: runner-updates
          path: workflow

      - name: Get Models Path and Framework
        id: get_inputs
        run: |
          . $HOME/.release_venv/bin/activate
          python workflow/get_inputs.py
        env:
          MODELS_PATH: ${{ inputs.MODELS_PATH }}
          FRAMEWORK: ${{ inputs.FRAMEWORK }}

      - name: Sync models
        run: |
          . $HOME/.release_venv/bin/activate
          python workflow/update_models.py
        env:
          MODELS_PATH: ${{ inputs.MODELS_PATH }}
          DET_MODELS_PATH: ${{ inputs.DET_MODELS_PATH }}
          SEG_MODELS_PATH: ${{ github.event.inputs.models_path }}
          FRAMEWORK: ${{ inputs.FRAMEWORK }}
